---
import type { GetStaticPaths } from "astro"
import MainLayout from "@/layout/MainLayout.astro"
import PokemonCard from "@/components/pokemons/PokemonCard.astro"
import type { PokemonListResponse } from "@/types/pokemon-list-response"

interface Props {
  url: string
}

export const getStaticPaths = (async () => {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151")
  const { results } = (await res.json()) as PokemonListResponse

  return results.map(({ name, url }) => ({
    params: { name },
    props: { url: `https://pokeapi.co/api/v2/pokemon/${url}` }
  }))
}) satisfies GetStaticPaths

const { name } = Astro.params
const { url } = Astro.props

const pokemonId = url.split("/").at(-2)
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${pokemonId}.ogg`

const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemonId}.png`
---

<MainLayout
  title={`Pokémon - ${pokemonId} ${name}`}
  description={`Información del Pokémon ${name}`}
  image={imageSrc}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="flex justify-between items-center gap-5">
      <a href="/">Regresar</a>
      <h1 class="text-3xl capitalize font-extrabold mb-3">{name}</h1>
    </div>

    <PokemonCard
      name={name}
      url={url}
      isBig
    />

    <audio
      controls
      class="mt-5"
    >
      <source
        src={audioSrc}
        type="audio/ogg"
      />
      Tu navegador no soporta el elemento <code>audio</code>.
    </audio>
  </section>
</MainLayout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
